<div class="control">
  <h4 class="title-text">公共操作</h4>
  <div class="control-list">
    <button nz-button nzType="default" class="control-btn">开启</button>
    <button nz-button nzType="default" class="control-btn">关闭</button>
    <button nz-button nzType="default" class="control-btn">上电</button>
    <button nz-button nzType="default" class="control-btn">下电</button>
  </div>
  <h4 class="title-text">照明</h4>
  <nz-row>
    <nz-col nzSpan="12">
      <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="value1"></nz-slider>
    </nz-col>
    <div nz-col nzSpan="4">
      <nz-input-number
        [nzMin]="1"
        [nzMax]="20"
        [ngStyle]="{ marginLeft: '16px' }"
        [(ngModel)]="value1"
      ></nz-input-number>
    </div>
  </nz-row>
</div>
