.router-box {
  padding: 24px;
  background: #fff;
  height: 100%;
}

.facility {
  background: #ffffff;
  > div {
    padding: 10px;
    background: #fff;
    //height: 100%;
  }
}
.box-warp{
  padding: 10px;
}
