.pageTitle {
  border-left: 2px solid #7cb0dd;
  padding-left: 18px;
  color: #333;
  font-size: 16px;
  font-weight: 900;
}

.user-detail {
  padding: 10px;
}

.area-name {
  display: inline-block;
  width: 50%;
  border: 1px solid #ccc;
  height: 32px;
  padding: 4px 11px;
  border-radius: 4px;
  margin-right: 10px;
  vertical-align: middle;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.open-button {
  border: none;
  outline: none;
  background: #ffffff;
}

.hint {
  color: red;
}

.pushTypeClass {
  flex: 1;
}
