<div class="table-container"  id="warp">
  <!-- 设施柱状图 工单状态环形图 Build2开发 先注释 -->
  <div class="statistics">
    <div class="statistics-item">
      <div class="statistics-item-title bg-c">{{workOrderLanguage.facilityType}}</div>
      <div class="statistics-item-chart">
        <div *ngIf="deviceTypeStatisticsChartType === 'chart'" echarts [options]="barChartOption" class="demo-chart chart"></div>
        <div *ngIf="deviceTypeStatisticsChartType === 'text'" class="no-data">{{commonLanguage.noData}}</div>
      </div>
    </div>
    <div class="statistics-item">
      <div class="statistics-item-title bg-c">{{workOrderLanguage.status}}</div>
      <div class="statistics-item-chart">
        <div class="circle-container" *ngIf="statusStatisticsChartType === 'chart'">
          <div class="circle">
            <canvas id="canvas_completed" width="{{canvasLength}}" height="{{canvasLength}}"></canvas>
            <div class="text">
              <div class="title">{{workOrderLanguage.completed}}</div>
              <div class="number">{{completedPercent}}</div>
            </div>
          </div>
          <div class="circle">
            <canvas id="canvas_singleBack" width="{{canvasLength}}" height="{{canvasLength}}"></canvas>
            <div class="text">
              <div class="title">{{workOrderLanguage.singleBack}}</div>
              <div class="number">{{singleBackPercent}}</div>
            </div>
          </div>
        </div>
        <div *ngIf="statusStatisticsChartType === 'text'" class="no-data">{{commonLanguage.noData}}</div>
      </div>
    </div>
  </div>
  <!--已完工表格-->
  <xc-table [dataSet]="tableDataSet"
            [pageBean]="pageBean"
            [tableConfig]="tableConfig"
            (pageChange)="pageChange($event)">
  </xc-table>
</div>
<!--查看modal-->
<nz-modal [(nzVisible)]="isVisible"
          [nzMaskClosable]="false"
          [nzWidth]="1200"
          [nzTitle]="title"
          (nzOnCancel)="close()"
          [nzFooter]="null">
  <!--关联工单-->
  <xc-table #tableComponent
            class="see-table"
            [dataSet]="seeDataSet"
            [pageBean]="seePageBean"
            [tableConfig]="seeTableConfig"
            (pageChange)="seePageChange($event)">
  </xc-table>
  <ng-template #modalFooter>
    <button class="link-button" nz-button nzType="primary" (click)="close()">{{InspectionLanguage.handleOk}}</button>
    <button class="link-button" nz-button nzType="danger" (click)="close()">{{InspectionLanguage.handleCancel}}</button>
  </ng-template>
</nz-modal>
<!--状态模板-->
<ng-template #statusTemp let-data="data">
  <div class="hidden" title="{{data.statusName}}">
    <span [ngClass]="data.statusClass" style="margin-right: 5px;"> </span>
    {{data.statusName}}
  </div>
</ng-template>

<!--责任单位-->
<ng-template #UnitNameSearch let-filterValue = "filterValue">
  <input class="area-names" (click)="showModal(filterValue)" type="text"
         [(ngModel)]="selectUnitName" [title]="selectUnitName"
          [placeholder]="InspectionLanguage.pleaseChoose">
</ng-template>
<!--单位树-->
<xc-tree-area-selector
  [(xcVisible)]="responsibleUnitIsVisible"
  (selectDataChange)="selectDataChange($event)"
  [treeSelectorConfig]="treeSelectorConfig">
</xc-tree-area-selector>

<!-- 责任人 -->
<ng-template #roleTemp let-data="data">
  <span class="widthStyle" title="{{data.assign?.userName}}">{{data.assign?.userName}}</span>
</ng-template>

<!--巡检数量筛选-->
<ng-template #inspectionQuantityFilter let-filterValue = "filterValue">
  <div class="inputBox">
    <input type="text" class="numberInput" [placeholder]="InspectionLanguage.pleaseEnter"
           (ngModelChange)="searchChange($event,filterValue)"
           [(ngModel)]="filterValue.filterValue" oninput="setInputValue(value)">
    <xc-nz-select  [(ngModel)]="deviceCountSelectValue" (ngModelChange)="searchChange($event,filterValue)"
                   [disabled]="!filterValue.filterValue">
      <xc-nz-option *ngFor="let item of searchNumber" [nzLabel]="item.label" [nzValue]="item.value"></xc-nz-option>
    </xc-nz-select>
  </div>
</ng-template>

<!--巡检区域弹框-->
<ng-template #AreaSearch let-filterValue="filterValue">
  <input type="text" nz-input placeholder="{{InspectionLanguage.pleaseChoose}}"
         (click)="showArea(filterValue)" [(ngModel)]="filterObj.areaName">
</ng-template>
<!--区域选择树-->
<xc-tree-area-selector
  [(xcVisible)]="areaSelectVisible"
  [pageType]="InspectionLanguage.area"
  [treeSelectorConfig]="areaSelectorConfig"
  (selectDataChange)="areaSelectChange($event)">
</xc-tree-area-selector>
