<nz-spin class="group-detail" [nzSpinning]="pageLoading">
  <div>
    <span class="group-detail-title">
      {{pageTitle}}
    </span>
  </div>
  <div>
    <xc-form [column]="formColumn" (formInstance)="formInstance($event)"></xc-form>
    <div class="button-container">
      <button class="link-button margin-right20"
              nz-button
              nzType="primary"
              [nzLoading]="isLoading"
              [disabled]="saveButtonDisable"
              (click)="onClickSaveGroup()">{{commonLanguage.confirm}}
      </button>
      <button class="link-button"
              nz-button nzType="danger"
              (click)="onClickCancel()">
        {{commonLanguage.cancel}}
      </button>
    </div>
  </div>
</nz-spin>
<!--分组内容-->
<ng-template #groupContentTemp
             let-formGroup="formGroup"
             let-col="col">
  <div>
    <span class="group-template-name" [title]="groupContentMessage">
      {{groupContentMessage}}
    </span>
    <button type="button"
            class="open-button"
            (click)="onShowGroupContent()">
      <i class="icon-fiLink
      fiLink-search-index
      iconfont"></i></button>
  </div>
</ng-template>

<!--选择分组内容-->
<nz-modal [(nzVisible)]="showGroupContent"
          nzTitle="{{assetLanguage.groupContent}}"
          nzWidth="70%"
          [nzFooter]="modalFooter"
          (nzOnCancel)="onClose()"
          (nzOnOk)="onOk()"
>
  <nz-tabset [nzAnimated]="false">
    <!--设施tab-->
    <nz-tab nzTitle="{{language.facilityList}}" [nzForceRender]="true">
      <div>
        <label class="quick-group-label">{{assetLanguage.quickGroup}}:</label>
        <nz-select
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="{{language.picInfo.pleaseChoose}}"
          [(ngModel)]="deviceGroupType"
          class="select-type">
          <nz-option nzValue="{{quickGroupTypeEnum.oneByOne}}"
                     nzLabel="{{assetLanguage.oneByOne}}">
          </nz-option>
          <nz-option nzValue="{{quickGroupTypeEnum.chooseOneOutOfTwo}}"
                     nzLabel="{{assetLanguage.chooseOneOutOfTwo}}">
          </nz-option>
          <nz-option nzValue="{{quickGroupTypeEnum.chooseOneOutOfThree}}"
                     nzLabel="{{assetLanguage.chooseOneOutOfThree}}">
          </nz-option>
          <nz-option nzValue="{{quickGroupTypeEnum.chooseOneOutOfFour}}"
                     nzLabel="{{assetLanguage.chooseOneOutOfFour}}">
          </nz-option>
        </nz-select>
        <button nz-button class="link-button"
                [disabled]="!deviceGroupType"
                nzType="primary" (click)="onClickQuickDevice()">{{commonLanguage.confirm}}</button>
      </div>
      <!--设施列表-->
      <xc-table
        #facilityTable
        [dataSet]="facilityData"
        [pageBean]="facilityPageBean"
        [tableConfig]="facilityTableConfig"
        (pageChange)="facilityPageChange($event)">
      </xc-table>
    </nz-tab>
    <!--选择设备-->
    <nz-tab nzTitle="{{language.equipmentList}}" [nzForceRender]="true">
      <div>
        <label class="quick-group-label">{{assetLanguage.quickGroup}}:</label>
        <nz-select nzShowSearch
                   nzAllowClear
                   nzPlaceHolder="{{language.picInfo.pleaseChoose}}"
                   [(ngModel)]="equipmentGroupType"
                   class="select-type">
          <nz-option nzValue="{{quickGroupTypeEnum.oneByOne}}"
                     nzLabel="{{assetLanguage.oneByOne}}">
          </nz-option>
          <nz-option nzValue="{{quickGroupTypeEnum.chooseOneOutOfTwo}}"
                     nzLabel="{{assetLanguage.chooseOneOutOfTwo}}">
          </nz-option>
          <nz-option nzValue="{{quickGroupTypeEnum.chooseOneOutOfThree}}"
                     nzLabel="{{assetLanguage.chooseOneOutOfThree}}">
          </nz-option>
          <nz-option nzValue="{{quickGroupTypeEnum.chooseOneOutOfFour}}"
                     nzLabel="{{assetLanguage.chooseOneOutOfFour}}">
          </nz-option>
        </nz-select>
        <button nz-button class="link-button"
                [disabled]="!equipmentGroupType"
                (click)="onClickQuickEquipment()"
                nzType="primary">{{commonLanguage.confirm}}</button>
      </div>
      <!--设备列表-->
      <xc-table
        #equipmentTable
        [dataSet]="equipmentData"
        [pageBean]="equipmentPageBean"
        [tableConfig]="equipmentTableConfig"
        (pageChange)="equipmentPageChange($event)">
      </xc-table>
    </nz-tab>
  </nz-tabset>
  <ng-template #modalFooter>
    <button nz-button class="link-button" nzType="primary"
            (click)="onClickSelectContent()">{{commonLanguage.confirm}}</button>
    <button nz-button class="link-button" nzType="danger"
            (click)="this.showGroupContent=false;">{{commonLanguage.cancel}}</button>
  </ng-template>
</nz-modal>
<!--设施状态模板-->
<ng-template #deviceStatusTemplate let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.deviceStatusIconClass+' '+data.deviceStatusColorClass"
    ></i>
    <span class="status-text" [title]="data.deviceStatus">{{data.deviceStatus}}</span>
  </div>
</ng-template>
<!--设备状态模板-->
<ng-template #equipmentStatusTemp let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.equipmentStatusIconClass+' '+data.equipmentStatusColorClass"
    ></i>
    <span class="status-text" [title]="data.equipmentStatus">{{data.equipmentStatus}}</span>
  </div>
</ng-template>
<!--设备类型模板-->
<ng-template #equipmentTypeTemp let-data="data">
  <i [ngClass]="data.iconClass" class="device-type-icon"></i>
  <span class="status-text" [ngStyle]="data['rowStyle']"
        [title]="data['equipmentType']">{{data['equipmentType']}}</span>
</ng-template>

<!--设备数量过滤模版-->
<ng-template #equipmentNumTemplate let-filterValue="filterValue">
  <span class="input-box">
    <label>
<input type="text" class="filter-num-width num-input"
       [placeholder]="language.pleaseEnter"
       [(ngModel)]="filterValue.filterValue" oninput="value=value.replace(/\D/g,'')">
</label>
    <xc-nz-select class="equipment-num-select"
                  [(ngModel)]="equipmentNumFilterValue"
                  [disabled]="!filterValue.filterValue">
       <xc-nz-option nzValue="{{filterOperateEnum.gt}}" nzLabel="{{filterSelectEnum.gt}}"></xc-nz-option>
       <xc-nz-option nzValue="{{filterOperateEnum.eq}}" nzLabel="{{filterSelectEnum.eq}}"></xc-nz-option>
       <xc-nz-option nzValue="{{filterOperateEnum.lt}}" nzLabel="{{filterSelectEnum.lt}}"></xc-nz-option>
    </xc-nz-select>
  </span>
</ng-template>
