@import "../../css/config";
.facility-type-checkbox {
  @include filter-top-filter;
  $text-margin: 0 5px;
  border: none;
  width: $left-panel-width;
  .facility-type-title {
    display: flex;
    padding: 0 4px;
    height: 30px;
    align-items: center;
    justify-content: space-between;
    .icon-setting {
      float: right;
      width: 20px;
      height: 20px;
      margin-right: 14px;
      background: url("../../../../../assets/img/index/icon-setting.png") no-repeat center 100%;
    }
    .text {
      margin: $text-margin;
      color: #ff6027;
    }
  }
  .checkbox-container {
    display: flex;
    .checkbox {
      text-align: center;
      font-size: 12px;
      height: 30px;
      width: 55px;
    }
  }
}
