<div class="box-warp">
  <div style="width: 100%;" class="table-container">
    <xc-table [dataSet]="_dataSet"
              [pageBean]="pageBean"
              [tableConfig]="tableConfig"
              (pageChange)="pageChange($event)">
    </xc-table>
  </div>
</div>

<ng-template #userStatusTemp let-data="data">
  <nz-switch [ngModel]="data.userStatus==='1'"
             [nzLoading]="data.clicked"
             [nzControl]="true"
             [nzDisabled]="data.isDisabled"
             [appAccessPermission]="data.userStatus==='1'?'01-1-5':'01-1-5'"
             (click)="clickSwitch(data)">
  </nz-switch>
  <span *ngIf="data.userStatus === '0'" style="margin-left: 15px">{{language.disable}}</span>
  <span *ngIf="data.userStatus === '1'" style="margin-left: 15px">{{language.enable}}</span>
</ng-template>

<ng-template #departmentTemp let-data="data">
  <span class="widthStyle" title="{{data.department?.deptName}}">{{data.department?.deptName}}</span>
</ng-template>

<ng-template #roleTemp let-data="data">
  <span class="widthStyle" title="{{data.role?.roleName}}">{{data.role?.roleName}}</span>
</ng-template>

<ng-template #loginTypeTemp let-data="data">
  <span *ngIf="data.loginType === '1'">{{language.singleUser}}</span>
  <span *ngIf="data.loginType === '2'">{{language.multiUser}}</span>
</ng-template>

<ng-template #UnitNameSearch let-filterValue="filterValue">
  <span class="unit-name hidden" (click)="showModal(filterValue)" [class.placeholder]="!selectUnitName"
        [title]="selectUnitName">{{selectUnitName ? selectUnitName : commonLanguage.clickSelect}}</span>
</ng-template>

<ng-template #importTemp>
  <nz-upload [(nzFileList)]="fileList" [nzBeforeUpload]="beforeUpload">
    <button nz-button><i nz-icon type="upload"></i><span>{{language.selectFile}}</span></button>
  </nz-upload>
</ng-template>

<ng-template #selectLogTemp>
  <nz-radio-group [(ngModel)]="radioValue" nzName="radiogroup">
    <label nz-radio nzValue="operation" [nzDisabled]="operationDis">{{language.operationLog}}</label>
    <label nz-radio nzValue="security" [nzDisabled]="securityDis">{{language.securityLog}}</label>
  </nz-radio-group>
</ng-template>

<!-- 区域选择器 -->
<xc-tree-area-selector
  [(xcVisible)]="areaSelectVisible"
  [treeSelectorConfig]="areaSelectorConfig"
  (selectDataChange)="areaSelectChange($event)"
  [isHiddenButton]="true">
</xc-tree-area-selector>

<!-- 单位选择器 -->
<xc-tree-selector
  [(xcVisible)]="isVisible"
  (selectDataChange)="selectDataChange($event)"
  [treeSelectorConfig]="treeSelectorConfig">
</xc-tree-selector>
