<div class="detail-container">
  <div class="group-detail-info">
    <ul>
      <li class="facility-item">
        <span class="label">{{facilityLanguage.groupName}}：</span>
        <span class="value hidden" [title]="groupModel.groupName">{{groupModel.groupName || ''}}</span>
      </li>
      <li class="facility-item">
        <span class="label">{{facilityLanguage.remarks}}：</span>
        <span class="value hidden" [title]="groupModel.remark">{{groupModel.remark}}</span>
      </li>
    </ul>
  </div>
  <!--设施列表-->
  <nz-tabset [nzAnimated]="false">
    <nz-tab nzTitle="{{facilityLanguage.facilityList}}" [nzForceRender]="true">
      <xc-table
        [dataSet]="facilityRefGroupData"
        [pageBean]="facilityRefGroupPageBean"
        [tableConfig]="facilityRefGroupTableConfig"
        (pageChange)="onFacilityRefGroupPageChange($event)">
      </xc-table>
    </nz-tab>
    <!--设备列表-->
    <nz-tab nzTitle="{{facilityLanguage.equipmentList}}" [nzForceRender]="true">
      <xc-table
        [dataSet]="equipmentRefGroupData"
        [pageBean]="equipmentRefGroupPageBean"
        [tableConfig]="equipmentRefGroupTableConfig"
        (pageChange)="onEquipmentRefGroupPageChange($event)">
      </xc-table>
    </nz-tab>
  </nz-tabset>
</div>

<!--设施状态模板-->
<ng-template #deviceStatusRef let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.deviceStatusIconClass+' '+data.deviceStatusColorClass"
    ></i>
    <span class="status-text" [title]="data.deviceStatus">{{data.deviceStatus}}</span>
  </div>
</ng-template>
<!--设备状态模板-->
<ng-template #equipmentStatusRef let-data="data">
  <div class="area-level">
    <i [class]="'icon-fiLink-l iconfont '+data.equipmentStatusIconClass+' '+data.equipmentStatusColorClass"
    ></i>
    <span class="status-text" [title]="data.equipmentStatusName">{{data.equipmentStatusName}}</span>
  </div>
</ng-template>
<!--设备类型模板-->
<ng-template #equipmentTypeRef let-data="data">
  <span class="status-text" [ngStyle]="data['rowStyle']"
        [title]="data.equipmentTypeName">{{data.equipmentTypeName}}</span>
</ng-template>

<!-- 设备数量过滤 -->
<ng-template #equipmentNumRef let-filterValue="filterValue">
  <span class="input-box">
    <input type="text" class="filter-num-width num-input"
           [placeholder]="facilityLanguage.pleaseEnter"
           [(ngModel)]="filterValue.filterValue" oninput="value=value.replace(/\D/g,'')">
    <xc-nz-select style="width: 110px;"
                  [(ngModel)]="equipmentNumSelectValue"
                  [disabled]="!filterValue.filterValue">
      <xc-nz-option nzValue="{{filterOperateEnum.gt}}" nzLabel="{{filterSelectEnum.gt}}"></xc-nz-option>
      <xc-nz-option nzValue="{{filterOperateEnum.eq}}" nzLabel="{{filterSelectEnum.eq}}"></xc-nz-option>
      <xc-nz-option nzValue="{{filterOperateEnum.lt}}" nzLabel="{{filterSelectEnum.lt}}"></xc-nz-option>
    </xc-nz-select>
  </span>
</ng-template>
