<div class="camera-title">
  <span>摄像头1</span>
  <span>
        <nz-switch [ngModel]="true" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
      </span>
</div>
<div class="camera-config">
  <div class="camera-img">
    <div class="img-content">
      <div></div>
    </div>
    <div class="configure">
      <div class="box">
        <span><i nz-icon nzType="minus-circle" nzTheme="outline"></i></span>
        <span>调焦</span>
        <span><i nz-icon nzType="plus-circle" nzTheme="outline"></i></span>
      </div>
      <div class="box">
        <span><i nz-icon nzType="minus-circle" nzTheme="outline"></i></span>
        <span>聚焦</span>
        <span><i nz-icon nzType="plus-circle" nzTheme="outline"></i></span>
      </div>
      <div class="box">
        <span><i nz-icon nzType="minus-circle" nzTheme="outline"></i></span>
        <span>光圈</span>
        <span><i nz-icon nzType="plus-circle" nzTheme="outline"></i></span>
      </div>
    </div>
  </div>
  <div class="camera-details">
    <h5>预置位设置</h5>
    <div class="details">
      <span>预置位1</span>
      <span>查看预置点</span>
      <span>设置预置点</span>
      <span>删除预置点</span>
    </div>
    <div class="details">
      <span>预置位1</span>
      <span>查看预置点</span>
      <span>设置预置点</span>
      <span>删除预置点</span>
    </div>
    <div class="details">
      <span>预置位1</span>
      <span>查看预置点</span>
      <span>设置预置点</span>
      <span>删除预置点</span>
    </div>
  </div>
</div>
