<nz-modal [nzWidth]="1000"
          [(nzVisible)]="xcVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          [nzMaskClosable]="false"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    {{column.title}}
  </ng-template>

  <ng-template #modalContent>
    <div style="display: flex;">
      <div class="table-left" style="width: 50%">
        <div style="padding:0 10px;display: flex;justify-content: flex-start">
          <span style="line-height: 32px">可选：</span>
          <div>
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" [(ngModel)]="searchValue"  nz-input placeholder="search">
            </nz-input-group>
          </div>
          <ng-template #suffixIconSearch>
            <i (click)="search()" nz-icon type="search"></i>
          </ng-template>
        </div>

        <div class="table-content" style="padding: 10px">
          <div style="box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02);width: 100%;overflow: auto">
            <nz-card style="height: 400px">
              <xc-table style="width: 100%" [dataSet]="data"
                        [pageBean]="pageBean"
                        [tableConfig]="sourceConfig"
                        (pageChange)="pageChange.emit($event)">
              </xc-table>
            </nz-card>

          </div>
        </div>
      </div>
      <div class="table-left" style="width: 50%">
        <div style="padding:0 10px;display: flex;justify-content: space-between">
          <span style="line-height: 32px">已选：{{selectData.length}}条</span>
          <button nz-button nzType="danger" (click)="restSelectData()">清空</button>
        </div>
        <div class="table-content" style="padding: 10px">
          <div style="box-shadow: 0 1px 2px rgba(0,0,0,.15), 0 -1px 0 rgba(0,0,0,.02);width: 100%;overflow: auto">
            <nz-card style="height:400px;">
              <xc-table style="width: 100%" [dataSet]="selectPageData"
                        [pageBean]="selectPageBean"
                        [tableConfig]="selectorConfig"
                        (pageChange)="selectPageChange($event)">
              </xc-table>
            </nz-card>

          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template #modalFooter>
    <button nz-button nzType="primary" (click)="handleOk()">确定</button>
    <button nz-button nzType="default" (click)="handleCancel()">取消</button>
  </ng-template>
</nz-modal>
