// .area-name {
//     display: inline-block;
//     width: 100%;
//     border: 1px solid #ccc;
//     height: 22px;
//     line-height: 22px;
//     padding: 0 11px;
//     border-radius: 4px;
//     margin-right: 10px;
//     vertical-align: middle;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     white-space: nowrap;
//     cursor: pointer;
//   }

  div.screenRender  {
  .area-name {
    display: inline-block;
    width: 50%;
    border: 1px solid #ccc;
    // height: 22px;
    line-height: 15px;
    padding: 4px 11px;
    border-radius: 4px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    .title {
      color: rgb(191,191,191);
    }
  }

  button.open-button {
    border: none;
    outline: none;
    background: #ffffff;
    cursor: pointer;
  }

}

div.form {
  .area-name {
    height: 32px;
    line-height: 24px;
  }
  width: 400px;
}

div.table {
  .area-name {
    height: 22px;
    width: 100%;
  }
}

  
button.open-button[disabled] > i{
  color: #ccc;
  cursor: not-allowed;
}
