.box-warp {
  padding: 10px;
}

.status-text {
  margin-left: 6px;
  vertical-align: middle;
}

.device-type-icon {
  vertical-align: middle;
  font-size: 19px;
}

.table-container {
  width: 100%;
}
