.security-workbench {
  padding: 20px;
}

/**
 * 配置按钮
 */
.title-list {
  margin-bottom: 30px;
  /**
  * 通道按钮
  */
  .passageway {
    margin-right: 30px;
  }

  /**
   * 配置按钮
   */
  .basics {
    margin-right: 30px;
  }
}
