$left-panel-width: 400px;

.left-panel {
  position: absolute;
  left: 10px;
  top: 46px;
  max-height: calc(100vh - 85px);
  overflow: auto;
  .left-panel-tabs {
    display: flex;
    width: $left-panel-width;
    background-color: white;
    border-radius: 4px;
    .left-panel-border {
      border-right: 1px solid #e0dbdb;
    }
    .left-panel-tab {
      cursor: pointer;
      flex: 1;
      text-align: center;
      line-height: 30px;
      height: 30px;
      .icon-type {
        width: 20px;
        height: 20px;
        float: left;
        margin-left: 20px;
        color: #ff6027;
      }
      .text-content{
        float: left;
        width: 90px;
      }
    }
  }
}

