[nz-carousel-content] {
  text-align: center;
  height: 160px;
  line-height: 160px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}

h3 {
  color: #fff;
}

:host ::ng-deep .ant-card-head .ant-card-head-title {
  padding-left: 10px;
  font-size: 14px;
  font-weight: bold;
}

:host ::ng-deep .ant-card-body {
  padding: 20px 32px;
}

.trouble-img-container {
  display: flex;
}

.trouble-img-item {
  color: #333333;
  font-size: 12px;
  flex: 1;
  height: 320px;
  max-width: 33%;

  img {
    width: 100%;
    height: 188px
  }
}

.trouble-img-item:nth-of-type(2) {
  margin-left: 10px;
  margin-right: 10px
}

.info-item {
  line-height: 28px;
}
