<nz-card nzTitle="{{language.loopDetail}}" >
  <div  class="detail-container">
    <!--基本信息-->
    <div  class="device-detail-info">
      <ul>
        <li class="facility-item">
          <span class="label">{{language.loopName}}：</span>
          <span class="value hidden" [title]="">回路名称1</span>
        </li>
        <li class="facility-item">
          <span class="label">{{language.loopType}}：</span>
          <span class="value hidden" [title]="">回路类型2</span>
        </li>
        <li class="facility-item">
          <span class="label">{{language.distributionBox}}：</span>
          <span class="value hidden" [title]="">所属配电箱3xxxxxxxxx</span>
        </li>
        <li class="facility-item">
          <span class="label">{{language.remarks}}：</span>
          <span class="value hidden" [title]="">备注4</span>
        </li>
      </ul>
    </div>
    <!--缩略图-->
    <div class="thumbnail">
      <p>{{language.thumbnail}}</p>
      <div class="img-container" id="loopThumbnail">
      </div>
    </div>
  </div>
</nz-card>



