.dept-level {
  display: inline-block;
  text-align: center;
  width: 48px;
  height: 20px;
  color: #ffffff;
}

.level-one {
  background: #72ddd9;
}

.level-two {
  background-color: #78e3af;
}

.level-three {
  background-color: #56c2ea;
}

.level-four {
  background-color: #ffc878;
}

.level-five {
  background-color: #ff8a73;
}

.box-warp {
  padding: 0px 10px 10px 10px;
}

.widthStyle {
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
