.alarm-level {
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 20px;
  color: #333;
}

.alarm-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  font-family: 'Microsoft YaHei';
  vertical-align: middle;
  margin-bottom: 4px;
}

.box-warp {
  padding: 0px 10px 10px 10px;
}


.box-icon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.alarm-urgent {
  background: #e61017
}

.alarm-main {
  background: #ff6600;
}

.alarm-secondary {
  background: #f1c620;
}

.alarm-prompt {
  background: #58c1f0
}

.particulars-popUp > p > span {
  margin-left: 10px;
}

.filtration-condition{
  cursor: pointer;
}

.device-type-icon{
  vertical-align: middle;
  font-size: 19px;
}

// 设施类型
span.deviceType {
  //margin-right: 10px;
  //width: 100%;
  //display: inline-block;
  //text-overflow: ellipsis;
  //overflow: hidden;
  //white-space: nowrap;
}
.status-text {
  margin-left: 2px;
  vertical-align: middle;
}
span.deviceType:not(:last-child) > span.status-text:after {
  content: ',';
}

// 单选框样式
::ng-deep nz-radio-group.remoteTable .ant-radio {
  bottom: 1px;
  left: 0;
}

::ng-deep nz-radio-group.remoteTable .ant-radio + span {
  padding-left: 15px;
}

// 多选 告警级别
div.alarmLevels {
  float: left;
  width: 48px;
}

div.screenRender  {
  .area-name {
    display: inline-block;
    width: 50%;
    border: 1px solid #ccc;
    height: 22px;
    line-height: 15px;
    padding: 4px 11px;
    border-radius: 4px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  button.open-button {
    border: none;
    outline: none;
    background: #ffffff;
  }

}

:host ::ng-deep xc-tree-selector.areaTree .ant-card-body {
  width: 300px;
}
// 通知人弹框
::ng-deep nz-modal.alarmFiltration .ant-modal-body {
  padding: 0 5px;
}

::ng-deep nz-modal.alarmFiltration .table-top-button {
  padding: 8px 0 5px;
}

::ng-deep nz-modal.alarmFiltration .ant-table-pagination.ant-pagination {
  float: none;
  text-align: center;
  margin: 0;
}
