<div class="passageway">
  <div class="config-list">
    <div class="title">
      <div class="t-left">通道1</div>
      <div class="t-right">
        <span class="switch-btn">
          <nz-switch [ngModel]="true" nzCheckedChildren="开" nzUnCheckedChildren="关"></nz-switch>
        </span>
        <span class="config-btn">
          <i nz-icon nzType="poweroff" nzTheme="outline"></i>
        </span>
      </div>
    </div>
    <div class="content" (click)="openPassageway()">
      <nz-row>
        <nz-col nzSpan="12">通道号:</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">摄像机接入类型：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">摄像机接入类型：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">探测ONVIF IP：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">探测ONVIF 用户名：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">探测ONVIF密码：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">摄像机接入RTSP地址：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">摄像机接入ONVIF地址：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">摄像机用户名：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">摄像机密码：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">录像保留天数（天）：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
      <nz-row>
        <nz-col nzSpan="12">其它设置：</nz-col>
        <nz-col nzSpan="12">222</nz-col>
      </nz-row>
    </div>
  </div>
</div>
