.box-warp{
  padding: 10px;
  .table-container{
    width: 100%;
  }
}

.navigate {
  cursor: pointer;
  color: #13c2c2;
}
.device-type-icon{
  vertical-align: middle;
  font-size: 19px;
}
.status-text {
  margin-left: 6px;
  vertical-align: middle;
}
