<div class="report-analysis">
  <div class="statistics">
    <app-application-charts [chartsId]="'reportAnalysis'"></app-application-charts>
  </div>
  <div class="statistics">
    <app-application-charts [chartsId]="'reportAnalysis1'"></app-application-charts>
  </div>
  <div class="statistics">
    <app-application-charts [chartsId]="'reportAnalysis2'"></app-application-charts>
  </div>
  <div class="statistics">
    <app-application-charts [chartsId]="'reportAnalysis3'"></app-application-charts>
  </div>
</div>
