.update-time {
  color: #bbbbbb;
  min-width: 202px;
  display: block;
}
.info-img {
  display: inline-block;
  height: 300px;
  width: 400px;
}
.img-container {
  margin-top: 10px;
  height: 50%;
  text-align: center;
}



