<nz-modal [nzWidth]="900"
          [(nzVisible)]="xcVisible"
          [nzTitle]="modalTitle"
          [nzContent]="modalContent"
          [nzFooter]="modalFooter"
          [nzMaskClosable]="false"
          (nzOnCancel)="handleCancel()">
  <ng-template #modalTitle>
    {{treeSelectorConfig.title}}
  </ng-template>

  <ng-template #modalContent>
    <div [ngStyle]="{width:treeSelectorConfig.width}" style="display: flex">

      <div>
        <div style="width: 300px">
          <!--<nz-dropdown [nzTrigger]="'click'" [nzVisible]="false">-->
            <!--<div id="searchDropDown" nz-dropdown style="display: flex">-->
              <!--<input style="margin-right: 10px" type="text" [(ngModel)]="searchValue"-->
                     <!--(ngModelChange)="modelChange($event)" (keyup)="onInputKeyUp($event)"-->
                     <!--(click)="click($event)" nz-input placeholder="{{language.inputPlaceholder}}">-->
              <!--<button nz-button nzType="primary" nzSearch (click)="search()">-->
                <!--<i style="font-size: 16px" nz-icon type="search"></i>-->
              <!--</button>-->
            <!--</div>-->
            <!--<ul nz-menu nzSelectable style="max-height: 300px;overflow: auto">-->
              <!--<li nz-menu-item *ngFor="let item of searchResult" (click)="selectNode(item)">-->
                <!--<a>{{item[treeSelectorConfig.treeSetting.data.key.name||'name']}}</a>-->
              <!--</li>-->
              <!--<li *ngIf="searchResult.length===0"><a style="padding-left: 20px">{{commonLanguage.noData}}</a></li>-->
            <!--</ul>-->
          <!--</nz-dropdown>-->
          <xc-search-input
            [selectInfo]="selectInfo"
            [searchValue] = "searchValue"
            (modelChange)="modelChange($event)"
            (inputChange)="inputChange($event)"
          ></xc-search-input>
        </div>
        <nz-card style="height: 400px;margin-top: 10px">
          <div style="height: 350px;width: 250px;padding: 10px;overflow: auto">
            <ul [id]="treeId" class="ztree link-tree selector-table-tree"></ul>
          </div>
        </nz-card>

      </div>
      <div class="table-left" style="width: 56%">
        <div style="padding:0 10px;display: flex;justify-content: space-between">
          <span style="line-height: 32px">{{commonLanguage.selected}}：{{selectData.length}}/{{treeNodeSum}}{{commonLanguage.count}}</span>
          <!--<button nz-button nzType="danger" (click)="restSelectData()">清空</button>-->
        </div>
        <div class="table-content" style="padding: 10px">
          <div style="width: 100%;overflow: auto">
            <nz-card style="height: 400px">
              <xc-table style="width: 100%" [dataSet]="selectData"
                        [pageBean]="selectPageBean"
                        [tableConfig]="selectorConfig"
                        (pageChange)="selectPageChange($event)">
              </xc-table>
            </nz-card>
          </div>
        </div>
      </div>
    </div>

  </ng-template>

  <ng-template #modalFooter >
    <button [hidden]="isHiddenButton" class="link-button" nz-button nzType="primary" (click)="handleOk()">{{commonLanguage.confirm}}</button>
    <button [hidden]="isHiddenButton" class="link-button" nz-button nzType="danger" (click)="handleCancel()">{{commonLanguage.cancel}}</button>
    <button [hidden]="isHiddenButton" class="link-button" nz-button nzType="danger" (click)="restSelectData()">{{commonLanguage.reset}}</button>
  </ng-template>
</nz-modal>
