.alarm-level {
  display: inline-block;
  text-align: center;
  width: 32px;
  height: 20px;
  color: #333;
}

.alarm-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  font-family: 'Microsoft YaHei';
  vertical-align: middle;
  margin-bottom: 4px;
}


.box-warp {
  padding: 0px 10px 10px 10px;
}

.box-icon {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-block;
  align-self: center;
}

.alarm-urgent {
  background: #e61017
}

.alarm-main {
  background: #ff6600;
}

.alarm-secondary {
  background: #f1c620;
}

.alarm-prompt {
  background: #58c1f0
}
