.work-order-detail {
  padding: 10px;
  ::ng-deep .ant-calendar-picker{
    width: 100% !important;
  }
  .work-order-detail-title {
    border-left: 2px solid #7cb0dd;
    padding-left: 18px;
    color: #333;
    font-size: 16px;
    font-weight: 900;
  }
  .area-name {
    display: inline-block;
    width: 86%;
    border: 1px solid #ccc;
    height: 32px;
    padding: 4px 11px;
    border-radius: 4px;
    margin-right: 10px;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
    cursor: default;
    &:hover{
      border-color: #36cfc9;
    }
    &:disabled{
      cursor: no-drop;
      background-color: #f5f5f5;
      color: rgba(0,0,0,0.25);
    }
  }
}



.open-button {
  border: none;
  outline: none;
  cursor: pointer;
  background: #ffffff;
}
.btn-disabled{
  cursor: no-drop;
}

.open-button[disabled] {
  cursor: no-drop;
}

.facility-type-config-box {
  border: 1px solid #e7e8ec;

  .facility-type-config-item {
    display: flex;
    height: 35px;

    .text {
      flex: 1;
      line-height: 35px;
      padding-left: 10px;
      display: inline-block;
    }

    .level {
      width: 80px;
      line-height: 35px;
      padding-left: 10px;
    }

    .checkbox {
      width: 40px;
      padding: 6px 9px;
      margin-left: 10px;
    }

    ::ng-deep .ant-radio{
      top: -13px;
    }
  }

  .accountabilityUnit-list {
    max-height: 350px;
    overflow: auto;
    padding: 5px 0;
    .config-item-content{
      padding-left: 17px;
      .text{
        padding-left: 15px;
      }
    }
  }

  .facility-type-config-title {
    background-color: #eaedf2;

    .split-line {
      width: 1px;
      height: 20px;
      margin-top: 8px;
      background-color: #dbdbdb;
    }
  }
}

