.in-container {
  padding-bottom: 20px;
   /**
    * 标题样式
    */
  .area-detail-title {
    border-left: 2px solid #7cb0dd;
    padding-left: 18px;
    color: #333;
    font-size: 16px;
    font-weight: 900;
  }
}
